<html>
    <head>
            <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>
            <a href='/'>Home</a>
            <a href='/listAllTasks'>List Tasks</a>
        </h1>
        <br/>
        <form action='/addTask' method='POST'>
            Task Name
            <input type='text' name='taskName'>
            </br>
            Task Due
            <input type='text' name='taskDue'>
            </br>
            Task Desc
            <input type='text' name='taskDesc'>
            </br>
            <button>Submit</button>
        </form>
    </body>
</html>