<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>
            <a href='/'>Home</a>
            <a href='/listAllTasks'>List Tasks</a>
            <a href='/deleteTasks'>Delete Tasks</a>
            <a href='/listAllDevs'>List all Developers</a>          
        </h1>
        <br/>
        <form action='/addTask' method='POST'>
            Task Name: 
            <input type='text' name='taskName'>
            </br>
            Assign to: 
            <input type='number' name='taskAssignTo'>
            </br>
            Task Due: 
            <input type="date" name="taskDue">
            </br>
            Task Status: 
            <select name= 'taskStatus'>
                <option value="completed">Completed</option>
                <option value="inProgress">In Progress</option>
            </select>
            </br>
            Task Description: 
            <input type='text' name='taskDesc'>
            </br>
            <button>Submit</button>
        </form>
    </body>
</html>